<table class="table table-bordered table-hover align-middle">
  <thead class="table-light">
    <tr>
      <th>S.No</th>
      <th>Student Name</th>
      <th>Course </th>
      <th>School</th>
      <th>Date</th>
      <th>Time</th>
      <th>Grade</th>
    </tr>
    <tr>
      <th></th> <!-- empty for S.No -->
      <th>
        <input
          type="text"
          class="form-control form-control-sm"
          placeholder="Search name"
          [(ngModel)]="filters.studentName"
          (ngModelChange)="applyFilter()"
        />
      </th>
      <th>
        <input
          type="text"
          class="form-control form-control-sm"
          placeholder="Search title"
          [(ngModel)]="filters.courseTitle"
          (ngModelChange)="applyFilter()"
        />
      </th>
      <th>
        <input
          type="text"
          class="form-control form-control-sm"
          placeholder="Search school"
          [(ngModel)]="filters.schoolName"
          (ngModelChange)="applyFilter()"
        />
      </th>
      <th>
        <input
          type="text"
          class="form-control form-control-sm"
          placeholder="Search date"
          [(ngModel)]="filters.date"
          (ngModelChange)="applyFilter()"
        />
      </th>
      <th>
        <select
          class="form-select form-select-sm"
          [(ngModel)]="filters.time"
          (ngModelChange)="applyFilter()"
        >
          <option value="">All</option>
          <option *ngFor="let time of timeSlots" [value]="time">{{ time }}</option>
        </select>
      </th>
      <th>
        <select
          class="form-select form-select-sm"
          [(ngModel)]="filters.grade"
          (ngModelChange)="applyFilter()"
        >
          <option value="">All</option>
          <option *ngFor="let grade of grades" [value]="grade">{{ grade }}</option>
        </select>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngIf="filteredBookings.length === 0">
      <td colspan="6" class="text-center text-muted py-4">
        No matching records found.
      </td>
    </tr>

    <tr *ngFor="let booking of filteredBookings; index as i" >
      <td>{{ i + 1 }}</td>
      <td>{{ booking.student?.studentDetail?.firstName }} {{ booking.student?.studentDetail?.lastName }}</td>
      <td>{{ booking.course?.title }}</td>
      <td>{{ booking.student?.studentDetail?.schoolName }}</td>  
      <td>{{ booking.date | date:'dd MMM yyyy' }}</td>
      <td>{{ booking.timeSlot?.startTimeString }}</td>
      <td>{{ booking.student?.studentDetail?.grade }}</td>
    </tr>
  </tbody>
</table>
